header {
    background-color: var(--dark-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 24px;
}

main {
    margin-left: 60px;
    transition: 0.5s;
    width: calc(100vw - 60px);
    min-height: 100vh;
}

main.active {
    margin-left: 300px;
    width: calc(100vw - 300px);
}

@media (max-width: 767px) {
    main {
        padding-top: 60px;
        margin-left: 0;
        width: 100%;
    }
}